:root {
  --fg-color: #445;
}

body {
  font-family: Palatino;
  background-color: #eee;
  color: var(--fg-color);
  font-size: 20px;
  main {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 600px;
    form {
      background-color: #ddd;
      
      input, select {
        font-size: 20px;
        font-family: Palatino;
        font-style: italic;
        border-bottom: 1px solid var(--fg-color);
      }
    }
  }
  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100vw;
    background-color: #ccc;
    padding: 20px;
  }
}